@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@media (min-width: 768px) {
    /* Add PC-specific styles here */
    .background_image{
        width: 100%;
        height: 300px;
        background: #0B192E;
        background-image: url(https://images.hdqwalls.com/download/interstellar-gargantua-u4-2560x1440.jpg);
        background-size: cover;
        background-position: center;
        margin-top: 25.5in;
      }
    .background_image h1 {font-size: 5em; color: beige; font-weight: bold; left: 0; width: 100%; height: 300px;
    background-image: linear-gradient(to top, #0B192E, #0B192D, rgba(0, 0, 0, 0));}
    
    #logo {
        position: relative;
        width: 300px;
        margin-left: 38%;
        aspect-ratio: 1/1;
        user-select: none;
      }
      
      #logo > img {
        width: 100%;
        position: absolute;}
    .tree{display: none;}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #0B192D, #0B192D);
    z-index: -1;
}
/* Style for the blurred background */
.blurred-background {
    filter: blur(5px);
  }

.rounded-image1{
    border-radius: 20px;
}
.card-container {display: none;
}
        .ribbon {
            position: fixed;
            width: 100%;
            top: 0;
            box-shadow: #03060B;
            right: 0;
            background-color: #223250; /* Choose your desired background color */
            color: #ffffff; /* Choose your desired text color */
            padding: 10px;
            z-index: 9999; /* Set a high z-index to make sure the ribbon appears above other content */
            text-align: right; /* Align the buttons to the right within the ribbon */
        }

        /* Styling for the buttons */
        .ribbon-button {
            text-decoration: none;
            background-color: #0B192D;
            color: #90FFFF; /* Choose your desired text color for buttons */
            border: none;
            font-family: monospace;
            font-size: small;
            border-radius: 4px;
            padding: 5px 10px;
            margin: 5px;
            cursor: pointer;
        }
        .popup-close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 16px;
            cursor: pointer;
          }
          
                        .popup-container {
                            position: fixed;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background-color: #0d1422;
                            padding: 20px;
                            border-radius: 10px;
                            box-shadow: 0px 4px 8px rgba(0, 0, 0, 100);
                            z-index: 1001;
                          }
                          
                          /* Style for the links */
                          .popup-links {
                            text-align: center;
                            margin-top: 10px;
                          }
                          
                          .popup-link {
                            display: block;
                            margin: 5px 0;
                            color: #3498db;
                            text-decoration: none;
                          }
                          
                          .popup-link:hover {
                            text-decoration: underline;
                          }
                          .photo-frame {
                            border: 5px solid #99E6D4;
                            width: 400px;
                            border-radius: 10px;
                            height: 300px;
                            margin: 30px auto;
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                          }
                        
                          img {
                            max-width: 100%;
                            max-height: 100%;
                          }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    height: 100vh;


}
.h3{
    align-self: center;
    font-size: large;
    color: #60FFD9;
}
.header {
    text-align: center;
}

.name {
    margin-left: 35%;
    font-size: 50px;
    font-family: 'Maven Pro', sans-serif;
    color: #60FFD9;
    margin-bottom: 0px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s steps(40) 1s 1 normal both;
    animation-fill-mode: forwards;
}


.name::after {
opacity: 100;
content: '';
display: inline-block;
vertical-align: middle;
width: 2px;
height: 1em;
margin-left: 4px;
margin-right: 43%;
margin-bottom: 0px;
background-color: #0B192D;
animation: blinkCursor 1s infinite;
}



.title {
    font-size: 25px;
    margin-top: 0px;
    color: #CED7F3;
    font-family: myFirstFont;
    margin-left: 33%;
    text-align: center;
    opacity: 0;
    animation: typewriter 4s steps(40) 1s 1 normal both, fadeIn 1s 5s ease-in-out forwards;

}
.button {
    display: inline-block;
    background-color: #0B192D;
    color: #CED7F3;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    font-family: myFirstFont;
    font-size: 20px;
    border: 1px solid;
    transition: background-color 0.3s;
}
@font-face {
    font-family: myFirstFont;
    src: url(NTR-Regular.ttf);
 }
.project-tile {
    display:inline-block ;
    width: 2.5in;
    height: 3.5in;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #0E1B33;
    color: #60FFD9;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    margin-right: 10px;
    transition: transform .2s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
}
.button:hover {
    background-color: #7e6f71;
}

.project-tile:hover {
    background-color: #223250;
    transform: scale(1.07); /* (150% zoom) */
}

.goal{
    font-size: 25px;
    margin-left: 1in;

    color: #CED7F3;
    font-family: myFirstFont;
}
.content {
    margin-top: 50px;
    text-align: center;
    color: #CED7F3;
    font-family: myFirstFont;
}
.about-me {
    margin-top: 30px;
    margin-left: 1in;

    font-family: myFirstFont;
    font-size: 25px;
    word-wrap: break-word;
    color: #CED7F3;
    text-align: middle;
    animation: fade-in2 4s steps(40) 4s 1 normal both
}


.line {
    width: 1200px;
    height: 2px;
    background-color: #7e6f71;
    margin: 20px auto;
}

pg {
    font-family: myFirstFont;
    font-size: 15pt;
    width: 50%;
    padding-left: 0.5in;
    float: left;
    line-height: 1.5;
    text-align: left;
    margin: 1;
}
.section-heading {
    margin-top: 3cm;
    margin-right: 1in;
    align-self: justify;
    font-size: 30px;
    font-family: myFirstFont;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: myFirstFont;
    color: #CED7F3;
    margin-top: 20px;
}

.project {
    margin-bottom: 20px;
    color: #CED7F3;
    font-family: myFirstFont;
}

.project-title {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: myFirstFont;
}

.project-link {
    color: #CED7F3;
    text-decoration: none;
    font-family: myFirstFont;
    font-size: 20px;
}

.project-link:hover {
    color: #ffc107;
}


  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #0B192D;
    border-color: #99E6D4;
    color: #99E6D4;
    border-width: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
/* Remove the default circle bullet point */
.neon-triangle-list {
    list-style-type: none;
}

/* Define the style for the neon triangle */
.neon-triangle-list li::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #00FFFF; /* Neon Cyan color, you can change this to any other neon color */
    margin-right: 10px;
    vertical-align: middle;
    animation: neon-glow 1s infinite;
}
.image-container {
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .image-container img {
    max-width: 30%;
    margin-right: 10px;
    border-radius: 10px;
  }
  
  .output {
    flex: 1;
    margin-left: 10px;
    padding-left: 10px; /* Add padding to create a gap between image and text */
    color: #00ffb3c5;
    font-size: x-large;
    font-family: myFirstFont;
  }
  
/* Animation */
@keyframes neon-glow {
    0%, 100% {
        opacity: 0.8;
        text-shadow: 0 0 10px #00FFFF;/* Neon Cyan color, should match the border-bottom color */
    }
    50% {
        opacity: 1;
        text-shadow: none;
    }
}



  @keyframes typewriter {
from {
    width: 0;
}
to {
    width: 16em;
}
}

@keyframes blinkCursor {
from, to {
    background-color: transparent;
}
50% {
    background-color: #99E6D4;
}
}

@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

@keyframes fade-in2 {
0% {
  opacity: 0;
  transform: translateY(20px);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
}

.about-me.animating {
animation-play-state: running;
}
}
@media (max-width: 800px) {
    /* Add mobile-specific styles here */
    .tree{padding-top: 39in;}
    #logo{display: none;}
    #logo img{display: none}
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, #0B192D, #0B192D);
        z-index: -1;
    }
    .rounded-image1{
        border-radius: 20px;
        width: 90%;
        height: max-content;
    }
    .photo-frame {
        border: 5px solid #99E6D4;
        width: 90%;
        border-radius: 10px;
        height: 300px;
        margin: 30px auto;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 100);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
    
      img {
        max-width: 100%;
        max-height: 100%;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #1a1a1a;
    }

    .card-container {
        width: 90%;
        margin-left: 5%;
        height: 350px;
        perspective: 1000px;
        margin-bottom: 50px;
    }

    .card {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        animation: flipCard 6s infinite;
    }

    .face {
        position: absolute;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        background-color: #174e72;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        font-size: 18px;
        font-weight: bold;
        color: white;
        backface-visibility: hidden;
    }

    .back {
        transform: rotateY(180deg);
        background-color: #643e88;
    }

    @keyframes flipCard {
        0%, 100% {
            transform: rotateY(0);
        }
        50% {
            transform: rotateY(180deg);
        }
    }
            .ribbon {
                position: fixed;
                width: 100%;
                height: 2cm;
                top: 0;
                box-shadow: #03060B;            ;
                right: 0;
                background-color: #223250; /* Choose your desired background color */
                color: #ffffff; /* Choose your desired text color */
                padding: 10px;
                z-index: 9999; /* Set a high z-index to make sure the ribbon appears above other content */
                text-align: right; /* Align the buttons to the right within the ribbon */
            }
    
            /* Styling for the buttons */
    .ribbon-button {
                color: #90FFFF; /* Choose your desired text color for buttons */
                border: none;
                text-decoration: none;
                font-family: monospace;
                font-size: small;
                background-color: #223250;
                border-radius: 4px;
                padding: 5px 10px;
                margin-left: 0.2%;
                margin: 5px;
                cursor: pointer;
                }
                /* Style for the blurred background */
.blurred-background {
    filter: blur(5px);
  }
  .popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
                .popup-container {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #0d1422;
                    padding: 20px;
                    border-radius: 10px;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 100);
                    z-index: 1001;
                  }
                  
                  /* Style for the links */
                  .popup-links {
                    text-align: center;
                    margin-top: 10px;
                  }
                  
                  .popup-link {
                    display: block;
                    margin: 5px 0;
                    color: #3498db;
                    text-decoration: none;
                  }
                  
                  .popup-link:hover {
                    text-decoration: underline;
                  }
    .container {
                margin-top: 18.75in;
                display: flex;
                flex-direction: column;
                align-items: justify;
                flex-grow: 1;
                justify-content: center;
                height: 100%;}
    .h3{
        align-self: center;
        font-size: small;
        color: #60FFD9;
    }
    .header {
        text-align: center;
    }
    .name {
        margin-top: 3cm;
        font-size: xx-large;
        font-family: 'Maven Pro', sans-serif;
        color: #60FFD9;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }
    .name::after {
        opacity: 100;
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 2px;
        height: 1em;
        margin-left: 4px;
        background-color: #0B192D;
        animation: blinkCursor 1s infinite;
        }
        .title {
            font-size: 30px;
            color: #CED7F3;
            font-family: myFirstFont;
        }
        pg {
            font-family: myFirstFont;
            padding-left: 0.5in;
            line-height: 1.5;
            text-align: justify;
            font-size: x-large;
            margin: 1;
        }
        .button {
            display: inline-block;
            width: 30%;
            height: 30%;
            background-color: #0B192D;
            color: #CED7F3;
            padding: 10px 20px;
            border-radius: 10px;
            text-decoration: none;
            margin-top: 20px;
            font-family: myFirstFont;
            font-size: 30px;
            border: 1px solid;
            transition: background-color 0.3s;
        }
        @font-face {
            font-family: myFirstFont;
            src: url(NTR-Regular.ttf);
         }
        .project-tile {
            display: inline-block;
            width: 85%;
            height: 120vmin;
            padding: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: #0E1B33;
            color: #60FFD9;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            font-size: xx-large;
            cursor: pointer;
            margin-right: 10px;
            transition: transform .2s;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
        }
        .goal{
            font-size: 28px;  
            color: #CED7F3;
            font-family: myFirstFont;
        }
        .content {
            margin-top: 50px;
            text-align: center;
            color: #CED7F3;
            font-family: myFirstFont;
        }
        .about-me {
            margin-top: 30px;    
            font-family: myFirstFont;
            font-size: 18px;
            word-wrap: break-word;
            color: #CED7F3;
            text-align: middle;
            animation: fade-in2 4s steps(40) 4s 1 normal both
        }
    
        .section-heading {
            margin-top: 3cm;
            margin-left: 1cm;
            align-self: justify;
            font-size: xx-large;
            font-family: myFirstFont;
        }
    /* Remove the default circle bullet point */
    .neon-triangle-list {
        list-style-type: none;
    }
    
    /* Define the style for the neon triangle */
    .neon-triangle-list li::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid #00FFFF; /* Neon Cyan color, you can change this to any other neon color */
        font-size: 18px;
        vertical-align: middle;
        align-self: justify;
        animation: neon-glow 1s infinite;
    }
    .image-container {
        display: inline-block;
        margin: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 10px;
      }
      .image-container img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        border-radius: 10px;
      }
      .output{
        margin-top: 1cm; color: #00ffb3c5; font-size: large; font-family: myFirstFont;
      }
    /* Animation */
    @keyframes neon-glow {
        0%, 100% {
            opacity: 0.8;
            text-shadow: 0 0 10px #00FFFF;/* Neon Cyan color, should match the border-bottom color */
        }
        50% {
            opacity: 1;
            text-shadow: none;
        }
    }
    
      @keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 16em;
    }
    }
    
    @keyframes blinkCursor {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: #99E6D4;
    }
    }
    
    @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }
    
    .about-me.animating {
    animation-play-state: running;
    }
}